@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Navbar search form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

/* Shopping Cart */

.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    background-color: var(--bg);
    color: #fff;
    transition: 0.3s;
    border: 1px solid #666;
}

.shopping-cart h2 {
    padding: 2rem 0 0 0;
    text-align: center;
    font-size: 2rem;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.shopping-cart img {
    height: 6rem;
    border-radius: 20%;
}

.shopping-cart h3 {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
    font-size: 1.2rem;
}

.shopping-cart .item-detail input {
    width: 35px;
    height: 25px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 7px;
    background-color: #fff;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--primary);
}

.total-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
}

.total-price {
    font-size: 1.3rem;
    margin: 1.5rem 0 0 0.9rem;
}

.checkout-button {
    background-color: #b6895b;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}

.shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.shopping-cart .remove-item:hover {
    color: var(--primary);
}

.shopping-cart h2:hover {
    color: var(--primary);
}

.shopping-cart h2::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.shopping-cart h2:hover::after {
    transform: scaleX(0.2);
}

.container-note {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.label {
    flex: 1;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 43px; /* Sesuaikan dengan kebutuhan Anda */
    box-sizing: border-box;
    flex: 2;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #ffffff;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .label,
    .input {
        flex: 1;
    }
}
/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../images/baground1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    position: fixed;
}

.hero .content h1 {
    font-size: 5rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.menu,
.products,
.team,
.contact {
    padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
    height: 85%;
    padding: 0 5rem 0 5rem;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Menu Section */
.menu h2,
.products h2,
.contact h2 {
    margin-bottom: 1rem;
}
.menu p,
.products p,
.team,
.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 4rem;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin: 1rem auto 0.5rem;
}

/* Products Section */
.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}

.products .product-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
}

.products .product-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.products .product-icons a {
    width: 4rem;
    height: 4rem;
    color: #fff;
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .product-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.products .product-image {
    padding: 1rem 0;
}

.products .product-image img {
    height: 20rem;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.products .product-image:hover img {
    transform: scale(1.1);
}

.products .product-content h3 {
    font-size: 2rem;
}

.products .product-stars {
    font-size: 1.7rem;
    padding: 0.8rem;
    color: var(--primary);
}

.products .product-stars .star-full {
    fill: var(--primary);
}

.products .product-price {
    font-size: 1.3rem;
    font-weight: bold;
}

.products .product-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
}

/*Team*/

.team {
    width: 100%;
    height: 90vh;
    background-image: url(img/bg1.png);
    background-size: cover;
    background-position: center;
}

.team h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.team h2 span {
    color: var(--primary);
    margin-right: 10px;
}

.team h3 span::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
}

.team .team_box .profile {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.team .team_box .profile:hover {
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img {
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info {
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info {
    top: 60%;
}

.team .team_box .profile .info .name {
    color: var(--primary);
    margin-bottom: 10px;
}

.team .team_box .profile .info .bio {
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i {
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover {
    color: var(--primary);
}

/* Contact Section */
.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}

/* Footer */
.container {
    max-width: 1170px;
    margin: auto;
}

.footer {
    background: #222;
    padding: 50px 0;
    margin-top: 60px;
}

.row {
    display: flex;
    flex-warp: warp;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #b6895b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: ;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #b6895b;
    padding-left: 6px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-link a:hover {
    color: #b6895b;
    background: #0000;
}

.footer-col .credit p {
    padding-top: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .credit a {
    color: #b6895b;
}

.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 110vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 60rem;
}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img {
    height: 30rem;
    border-radius: 30px;
}

.products-preview .preview .fa-times {
    position: absolute;
    top: 0.5rem;
    right: 1.1rem;
    cursor: pointer;
    color: #bbbbbb;
    font-size: 3rem;
}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.products-preview .preview h3 {
    color: #010101;
    padding: 0.5rem 3rem;
    font-size: 2.5rem;
}

.products-preview .preview .stars {
    padding: 1rem 0;
    font-size: 2rem;
}

.products-preview .preview .stars i {
    color: #b6895b;
}

.products-preview .preview .stars span {
    color: #999;
}

.products-preview .preview p {
    line-height: 1.1;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #777;
}

.products-preview .preview .price {
    font-size: 2.5rem;
    color: #010101;
    font-weight: 500;
    padding-top: 0.5rem;
}

.products-preview .preview .buttons {
    margin-top: 4.5rem;
    margin-left: 20rem;
}

.products-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #b6895b;
    border: 0.1rem solid #b6895b;
}

.products-preview .preview .buttons a.cart {
    background: #b6895b;
    color: #fff;
    border-radius: 10px;
}

.products-preview .preview .buttons a.cart:hover {
    background: #111;
}

.products-preview .preview .buttons a.buy:hover {
    background: #444;
    color: #fff;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 567px) {
    .footer-col {
        width: 100%;
    }
}

/* Item Detail */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    position: relative;
    background-color: #fefefe;
    color: var(--bg);
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    animation: animateModal 0.5s;
}

/* Modal Animation */
/* @keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
} */

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

    .modal-content {
        flex-wrap: wrap;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#010101, #b6895b);
    border-radius: 10px;
}
